*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins', Arial, sans-serif;
  background:linear-gradient(135deg,#0f2f16,#1b5e20,#7a4bb3);
  color:white;
  min-height:100vh;
}

.quiz-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:30px;
}

.voltar{
  position:fixed;
  top:20px;
  left:20px;
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.quiz-box{
  width:100%;
  max-width:700px;
  background:rgba(255,255,255,.12);
  backdrop-filter:blur(12px);
  padding:35px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 0 35px rgba(0,0,0,.25);
}

.etapa{
  color:#d9ffd6;
  text-transform:uppercase;
  letter-spacing:3px;
  margin-bottom:15px;
}

.quiz-box h1{
  font-size:38px;
  margin-bottom:25px;
}

#pergunta{
  font-size:26px;
  margin-bottom:25px;
}

#respostas{
  display:grid;
  gap:15px;
  margin-bottom:25px;
}

.resposta{
  border:none;
  padding:16px;
  border-radius:18px;
  font-weight:bold;
  cursor:pointer;
  font-size:16px;
}

.correta{
  background:#4CAF50 !important;
  color:white;
}

.errada{
  background:#e53935 !important;
  color:white;
}

#resultado{
  margin:18px 0;
  font-weight:bold;
  font-size:18px;
}

#proxima{
  border:none;
  background:#ffd54f;
  color:#1b5e20;
  padding:14px 30px;
  border-radius:30px;
  font-weight:bold;
  cursor:pointer;
  display:none;
}#certificado{
  display:none;
  margin-top:30px;
  background:white;
  color:#1b5e20;
  padding:35px;
  border-radius:25px;
  border:5px solid #ffd54f;
}

#certificado h2{
  font-size:32px;
  color:#1b5e20;
}

#certificado h1{
  color:#7a4bb3;
  margin:20px 0;
}

#baixarCertificado{
  margin-top:20px;
  border:none;
  background:#4CAF50;
  color:white;
  padding:14px 25px;
  border-radius:30px;
  font-weight:bold;
  cursor:pointer;
}

@media print{
  body{
    background:white;
  }

  .voltar,
  #nomeAluno,
  #gerarCertificado,
  #baixarCertificado,
  .quiz-box > h1,
  .quiz-box > p{
    display:none !important;
  }

  .quiz-box{
    box-shadow:none;
    background:white;
  }

  #certificado{
    display:block !important;
  }
}.barra-progresso{
  width:100%;
  height:12px;
  background:rgba(255,255,255,.25);
  border-radius:20px;
  overflow:hidden;
  margin:20px 0 30px;
}

#progresso{
  width:0%;
  height:100%;
  background:#ffd54f;
  border-radius:20px;
  transition:.4s;
}.bottom-nav{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,.9);
  display:grid;
  grid-template-columns:repeat(4,1fr);
  padding:10px;
  z-index:9999;
}

.bottom-nav a{
  color:white;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
  font-size:18px;
}

.bottom-nav span{
  display:block;
  font-size:11px;
  margin-top:4px;
}